{
    "swagger": "2.0",
    "info": {
        "description": "Sistem ERP Komprehensif (Multi-Tenant, HR, Finance, Manufacturing).",
        "title": "Enterprise ERP API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "Tim Developer ERP",
            "email": "support@enterprise-erp.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "enterpriseerpapi-u7w0kgyd.b4a.run",
    "basePath": "/",
    "paths": {
        "/api/auth/login": {
            "post": {
                "description": "Memvalidasi email dan password untuk mendapatkan Token JWT",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Authentication"
                ],
                "summary": "Login ke dalam sistem",
                "parameters": [
                    {
                        "description": "Format JSON untuk Login",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/items": {
            "post": {
                "description": "Memasukkan barang baru ke dalam sistem, otomatis terikat dengan Tenant ID user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Inventory \u0026 Warehouse"
                ],
                "summary": "Tambah barang ke gudang",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer TOKEN_JWT_KAMU",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Format JSON Barang",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions": {
        "ApiKeyAuth": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    }
}